*{
    margin: 0;
    padding: 0;
}

.wrapper{
    height: 250px;
    width: 300px;
    position: relative;
    background: url(./images/bg.jpg);

}
.logo{
    position: absolute;
    height: 65px;
    width: 75px;
    top: 27px;
    left: 34px;
}
.text{
    position: absolute;
    height: 205px;
    width: 62px;
    top: 161px;
    left: 33px;
    opacity: 0.3;
}
.bottom{
    position: absolute;
    height: 54px;
    width: 53px;
    top: 196px;
    left: 246px;
}